body {
   font-family:Verdana;
}

.banner {
    color:white;
    background-color : blue;
    letter-spacing:5pt;
    font-family:Arial;
    font-size:20pt;
}

.menu {
    background-color:#eeeeee;
    font-weight:bold;
}